html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.body {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  background-image: url("https://images4.alphacoders.com/286/thumb-1920-286536.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}
div.row + div.row {
  margin-top: 20px;
}
.column {
  float: left;
  width: 50%;
}
select.text-field.column {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    white no-repeat calc(100% - 10px) !important;
}
.incolumn {
  width: 95%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.have3 {
  float: inline-start;
  margin-right: 3.25%;
  width: 30%;
}
#columnRange {
  width: 45%;
}
#columnRange + #columnRange {
  margin-left: 10%;
}
.text-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
table{
  color: black;
}

button {
  float: right;
  width: 30%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover:enabled {
  background-color: #aadaac;
}
:disabled {
  background-color: #ccc;
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #7b84ff;
}
td + td,
th + th {
  padding: 8px;
  border-left: 1px solid #ccc;
}
p {
  text-align: left;
  font-size: 16px;
  border: none;
  padding: 0;
}
.center {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
