<div class="body">
  <h1 style="font-size: 3rem; margin-left: 30%">Book a Flight</h1>
  <form [formGroup]="flightForm">
    <div class="row">
      <label>Full Name</label><br />
      <input formControlName="fullName" class="text-field" /><br /><br />
    </div>

    <div class="row">
      <div class="column" id="columnRange">
        <label>From</label><br />
        <select formControlName="from" class="text-field column">
          <option value="Bangkok">Bangkok</option>
          <option value="Khon Kaen">USA</option>
          <option value="Chiang Mai">Finland</option>
          <option value="Ayutthaya">Russia</option>
          <option value="Pattaya">Ukraine</option>
        </select>
      </div>

      <div class="column" id="columnRange">
        <label>To</label><br />
        <select formControlName="to" class="text-field column">
          <option value="Paris">USA</option>
          <option value="Tokyo">China</option>
          <option value="Kyoto">Japan</option>
          <option value="London">Bangkok</option>
          <option value="Seoul">Dubai</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <label>Trip Type</label><br />
        <input
          type="radio"
          name="type"
          value="One way"
          formControlName="type"
        />One way
        <input
          type="radio"
          name="type"
          value="Return"
          formControlName="type"
        />Return
      </div>

      <div class="column">
        <div class="column">
          <label>Departure</label><br />
          <mat-form-field class="incolumn">
            <input
              matInput
              [matDatepicker]="Departurepicker"
              formControlName="departure"
              [min]="defaultMinDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="Departurepicker"
            ></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #Departurepicker></mat-datepicker>
        </div>

        <div class="column">
          <label>Arrival</label><br />
          <mat-form-field class="incolumn">
            <input
              matInput
              [matDatepicker]="Arrivalpicker"
              formControlName="arrival"
              [min]="flightForm.value.departure"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="Arrivalpicker"
            ></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #Arrivalpicker></mat-datepicker>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column have3">
        <label>Adults</label><br />
        <input formControlName="adults" class="text-field" placeholder="0-5" />
      </div>

      <div class="column have3">
        <label>Children</label><br />
        <input
          formControlName="children"
          class="text-field"
          placeholder="0-5"
        />
      </div>

      <div class="column have3">
        <label>Infants</label><br />
        <input
          formControlName="infants"
          class="text-field"
          placeholder="0-5"
        />
      </div>
    </div>

    <div class="row" style="justify-content: center; display: flex; margin-bottom: 1rem;">
      <button style="background-color: blue; font-weight: bold; "
        [disabled]="flightForm.invalid"
        (click)="onSubmit(flightForm.value)"
        class="have3"
      >
        Submit
      </button>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>Full Name</th>
        <th>From</th>
        <th>To</th>
        <th>Type</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Adults</th>
        <th>Children</th>
        <th>Infants</th>
      </tr>
    </thead>

    <tbody style="background-color: #fff;">
      <tr *ngFor="let f of flights">
        <td>{{ f.fullName }}</td>
        <td>{{ f.from }}</td>
        <td>{{ f.to }}</td>
        <td>{{ f.type }}</td>
        <td>{{ f.departure | date: "d MMM y" }}</td>
        <td>{{ f.arrival | date: "d MMM y" }}</td>
        <td>{{ f.adults }}</td>
        <td>{{ f.children }}</td>
        <td>{{ f.infants }}</td>
      </tr>
    </tbody>
  </table>
</div>
